backend/auth-service/node_modules
backend/auth-service/.env
backend/auth-service/package-lock.json

backend/chat-service/node_modules
backend/chat-service/.env
backend/chat-service/package-lock.json


backend/message-store-service/node_modules
backend/message-store-service/.env
backend/message-store-service/package-lock.json




frontend/
infra/